Diary/src/main/resources/diary.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name='Diary'>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='Entry' type='EntryType' minOccurs='0' maxOccurs='unbounded' />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:complexType name='EntryType'>
  <xs:simpleContent>
  	<xs:extension base='xs:string' >
      <xs:attribute name='day' type='xs:integer'/>
      <xs:attribute name='month' type='xs:string'/>
      <xs:attribute name='year' type='xs:integer'/>
    </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  

</xs:schema>